.nav-link {
    /* your custom styles for this */
    
}

body {
    padding: 20px
}

.container {
    padding:20px;
}
p {
    color: rgb(98, 0, 255);
 }


 h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 
 }

@mixin gradient-y-three-colors($start-color: $blue, $mid-color: $purple, $color-stop: 50%, $end-color: $red) {
    background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
  }

h2 {
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.center {
    display: block;   margin-left: auto;   margin-right: auto;   width: 100%;

}