{% extends 'base.html' %}
{% block title %} Stocks Home{% endblock %}

{% block body %}
  <h1><center>Welcome to the Stock-Market!</center></h1>
<img class="center" src="https://cdn.aarp.net/content/dam/aarp/money/investing/2020/01/1140-bull-and-bear-illustration-with-stock-chart.imgcache.rev.web.700.403.jpg" ,alt="stocks" class="blocktext" />
<br>
<br>
  
  <ul>

   
   {% if session.get('user_id') %}
      <!-- <li><a href ="/users">users</a></li>  -->
      <li><a href ="/make_favorite">Choose a Favorite Stock</a></li>
      <li><a href ="/favorites">My Favorites</a></li>
      <li><a href ="/logout">Logout</a></li>
      
    {% else %}
      
      <!-- <li><a href ="/searchpage">searchpage</a></li> -->
       <h2>Login To Account</h2> 
       <br>
    <form action="/login"method ="POST">

      <table>
        <tr>
          <td align="right">Email:</td>
          <td align="left"><input type="text" name="login-email" /></td>
        </tr>
        <tr>
          <td align="right">Password:</td>
          <td align="left"><input type="password" name="login-password" /></td>
        </tr>
        <tr>
          <td align="center"><input type="submit"></td>
        </tr>
    </table>
    </form>

    <br>
    <br>
   <h2>Create an Account</h2>
   <br>
   <form action="/signup" method="POST">

    <table>
      <tr>
        <td align="right">Name:</td>
        <td align="left"><input type="text" name="name" /></td>
      </tr>

      <tr>
        <td align="right">Email:</td>
        <td align="left"><input type="text" name="register-email" /></td>
      </tr>

      <tr>
        <td align="right">Password:</td>
        <td align="left"><input type="password" name="register-password" /></td>
      </tr>
      
      <tr>
     <p>
       <td>
         <input type="submit">
        </td>
     </p>
    </tr>
     </table>
   </form>
    
  </ul>
  {% endif %}
{% endblock %}