{% extends 'base.html' %}
{% block title %}signup{% endblock %}
{% block body %}



<h2>
    <p>
      <div class="row">
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

        Email <br><input type="text" name="register-email"> 
      </p>
    </h2>
  </div>

  
  <div class="col">
    <p>
        Password <br><input type="password" name="register-password">
      </p>
    </div>
      
        <input type="submit">
  </div>
      </p>
    </form>
     
   </ul>

{% endblock %}
